<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="deltaX">
  <test thread-count="5" name="QATCs">
    <classes>
      <class name="com.deltaX.QATCs.RegisterationFormTestNG"/>
    </classes>
  </test> <!-- QATCs -->
</suite> <!-- deltaX -->
